<div class="costumes_index">
  <div class="left">

    <h1> All Costumes nearby you:</h1>
    <div class="buttons">
      <a href="#" class="filter-button">Category</a>
      <a href="#" class="filter-button">Occasion</a>
      <a href="#" class="filter-button">Condition</a>
    </div>

    <div class="cards">
      <div class="card">
        <div class="img">
        </div>
         <div class="text">
          <p>Costume Witch</p>
          <h2 class></h2>
         </div>
      </div>
       <div class="card">
        <div class="img">
        </div>
         <div class="text">
          <p>Costume Santa Claus</p>
         </div>
      </div>
      <div class="card">
        <div class="img">
        </div>
         <div class="text">
          <p>Custome Police</p>
         </div>
      </div>
      <div class="card">
        <div class="img">
        </div>
         <div class="text">
          <p>item2</p>
         </div>
      </div>
      <div class="card">
        <div class="img"></div>
         <div class="text">
          <p>item2</p>
         </div>
      </div>
      <div class="card">
        <div class="img"></div>
         <div class="text">
          <p>item2</p>
         </div>
      </div>
      <div class="card">
        <div class="img"></div>
         <div class="text">
          <p>item2</p>
         </div>
      </div>
      <div class="card">
        <div class="img"></div>
         <div class="text">
          <p>item2</p>
         </div>
      </div>
      <div class="card">
        <div class="img"></div>
         <div class="text">
          <p>item3</p>
         </div>
      </div>
      <div class="card">
        <div class="img"></div>
         <div class="text">
          <p>item3</p>
         </div>
      </div>
      <div class="card">
        <div class="img"></div>
         <div class="text">
          <p>item3</p>
         </div>
      </div>
      <div class="card">
        <div class="img"></div>
         <div class="text">
          <p>item3</p>
         </div>
      </div>
      <div class="card">
        <div class="img"></div>
         <div class="text">
          <p>item3</p>
         </div>
      </div>
      <div class="card">
        <div class="img"></div>
         <div class="text">
          <p>item3</p>
         </div>
      </div>
      <div class="card">
        <div class="img"></div>
         <div class="text">
          <p>item3</p>
         </div>
      </div>
      <div class="card">
        <div class="img"></div>
         <div class="text">
          <p>item3</p>
         </div>
      </div>
      <div class="card">
        <div class="img"></div>
         <div class="text">
          <p>item3</p>
         </div>
      </div>
      <div class="card">
        <div class="img"></div>
         <div class="text">
          <p>item3</p>
         </div>
      </div>
    </div>
    <h1>Halloween costumes neaby</h1>
    <div class="buttons">
    <a href="#" class="myButton">Type</a>
    <a href="#" class="myButton">Price</a>
    <a href="#" class="myButton">Condition</a>
  </div>
  <div class="cards">
    <% @costumes.each do |costume| %>
      <%= link_to costume_path(costume) do %>
        <div class="card">
          <% if costume.photo.attached? %>
            <%= cl_image_tag costume.photo.key, class: "card-img"%>
          <% end %>
          <div class="card-text">
            <%= costume.name %>
            <%= costume.price %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>

  <div class="right">
    <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
  </div>

</div>
