<div class="costumes_index">
  <div class="left">
    <% if params[:occasion] %>
      <h1><%= params[:occasion].capitalize %> costumes</h1>
    <% elsif params[:category] %>
       <h1><%= params[:category].capitalize %>'s costumes</h1>
    <% else %>
         <h1><%= params[:query] %></h1>
    <% end %>
    <div class="buttons">
      <a href="#" class="filter-button">Category</a>
      <a href="#" class="filter-button">Occasion</a>
      <a href="#" class="filter-button">Condition</a>
    </div>

  <div class="cards">
    <% @costumes.each do |costume| %>
      <%= link_to costume_path(costume) do %>
        <div class="card">
          <% if costume.photo.attached? %>
            <%= cl_image_tag costume.photo.key, class: "card-img"%>
          <% end %>
          <div class="card-text">
            <%= costume.name %>
            <%= costume.price %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>

  <div class="right">
    <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
  </div>

</div>
