<div class="container">
  <div class="center-section">
    <%= cl_image_tag @costume.photo.key, class: "costume-img" %>
    <div class="costume-card-infos list-inline">
      <div class="owner">
        <div class="costume-name">
        <h1><%= @costume.name.capitalize %></h1>
        </div>
        <p class="owner" style = "padding-left: 400px"><%= @costume.user.first_name %></p>
        <%= image_tag "https://i5.walmartimages.com/asr/768c1077-d262-40bc-872d-cfd3ae86b33f_1.0cac95463c1774eef3e93d818ce3320e.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF", class: "avatar dropdown-toggle avatar-square"%>
      </div>
      <div class="icons">
        <ul class="list-inline">
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="far fa-star"></i></li>
          <li><i class="far fa-star"></i></li>
        </ul>
      </div>
      <div class="features">
        <p><%= @costume.description %></p>
        <ul class="costume-details">
          <li><%= image_tag "man.png", class: "costume-icons" %>  <%= @costume.category.capitalize %></li>
          <li><%= image_tag "party-popper.png", class: "costume-icons" %>  <%= @costume.occasion.capitalize %></li>
          <li><%= image_tag "size-guide.png", class: "costume-icons" %>  <%= @costume.size.capitalize %></li>
          <li><%= image_tag "colorchoice.png", class: "costume-icons" %>  <%= @costume.color.capitalize %></li>
          <li><%= image_tag "condition.png", class: "costume-icons" %>  <%= @costume.condition.capitalize %></li>
        </ul>
      </div>
      <div class="price">
        <p>€<%= @costume.price %></p>
      </div>
      <div class="header">
        <%= link_to new_costume_booking_path(@costume) do %>
          <button type="button" class="button-availability">Book this costume!</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
