<div class="new-booking-container">
  <div class="form-group d-flex mx-auto">
    <%= simple_form_for [@costume, @booking] do |f| %>
    <div class="form-container">

      <div class="page-one-booking align" style="display: flex">
        <div>
            <h1 class="text-justify"><strong><span>Amazing costume find!</span></strong><h1>
            <h3>Let's go through these next <em><span><strong>super</strong></span></em> simple steps to send a booking request!</h3>
          </div>
      </div>

      <div class="page-two-booking align" style="display: none">
        <div>
          <h1><strong>Step 1:</strong> For how long would you like to rent the costume?</h1><br>
          <div class="d-flex">
            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"}%>
             <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          </div>
        </div>
      </div>

      <div class="page-three-booking align" style="display: none">
        <div>
          <h1><strong>Step 2:</strong> Any additional final words you would like to add to your request?</h1>
          <%= f.input :message, label: "Your sweet message:" %><br>
        </div>
      </div>

      <div class="page-four-booking align" style="display: none">
        <div>
          <h1><strong>Step 3:</strong> Push the button to submit the request!</h1>
          <%= f.submit "Send costume request!", class: "btn btn-form-submit" %><br>
        </div>
      </div>

    </div>
    <% end %>
    <button class="next-step-booking btn-styling">next step</button>

  </div>
</div>
