<div class = "container">
    <%= image_tag "CostumeRack.png", class: "logopage" %>
    <div class="slogan"><p>Rent costumes or lend someone your costume </p></div>


  <div class = "searchbardiv">
    <%= form_tag costumes_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a costume"
    %>
    <%= submit_tag "Search", class: "btn btn-flat-search" %>
  </div>
  <% end %>
</div>

<%# <div class="home-categories-list d-flex">
  <div class="button-bubble button-bubble--left">
    <button class="button-bubble button-bubble--left">
      <svg width="48" height="48" viewBox="12 12 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.2 23.4a.998.998 0 0 0 0 1.2l3 4a.999.999 0 1 0 1.6-1.199L23.25 24l2.55-3.402a.997.997 0 0 0-.2-1.399 1 1 0 0 0-1.4.2l-3 4z">
        </path>
      </svg>
    </button>
  </div> %>

  <div>
    <p class = "occasions">
    Occasions
    </p>
    <ul class="categorieslist d-flex">
    <%= link_to costumes_path(occasion: "birthday") do %>
      <li class="clown">
        <div class="list-icon clown">
        </div>
         Birthday
      </li>
    <% end %>
    <%= link_to costumes_path(occasion: "halloween") do %>
      <li class="halloween">
        <div class="list-icon halloween">
        </div>
        <p> Halloween </p>
      </li>
    <% end %>
    <%= link_to costumes_path(occasion: "carnival")  do %>
      <li class="mask">
        <div class="list-icon mask">
        </div>
        <p> Carnival </p>
      </li>
    <% end %>
    <%= link_to costumes_path(occasion: "party")  do %>
      <li class="pirates">
        <div class="list-icon pirates">
        </div>
        <p> Party </p>
      </li>
    <% end %>
    <%= link_to costumes_path(occasion: "christmas")  do %>
      <li class="santa">
        <div class="list-icon santa">
        </div>
        <p> Christmas </p>
      </li>
    <% end %>
    <%= link_to costumes_path(occasion: "animals")  do %>
      <li class="animals">
        <div class="list-icon animals">
        </div>
        <p> Animals </p>
      </li>
    <% end %>
    </ul>
  </div>
</div>

  <%# <div class="categorymover">
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
  </div> %>

  <%# <div>
    <button class="button-bubble button-bubble--right">
      <svg width="48" height="48" viewBox="12 12 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M26.8 24.6a.998.998 0 0 0 0-1.2l-3-4a.999.999 0 1 0-1.6 1.199l2.55 3.4-2.55 3.402a.997.997 0 0 0 .2 1.399 1 1 0 0 0 1.4-.2l3-4z">
        </path>
      </svg>
    </button>
  </div>
</div> %>

<div>
  <p class = "howitworks">
    How it works:
  </p>
    <ul class = "stepslist d-flex">
      <li class="step">
        <%= image_tag "Step1.png" %>
        <p class="steptext text-center">Upload Costumes</p>
      </li>
      <li class="step">
        <%= image_tag "Step2.png" %>
        <p class="steptext text-center">Search for Costumes</p>
      </li>
      <li class="step">
        <%= image_tag "Step3.png" %>
        <p class="steptext text-center"> Easily Book Costumes </p>
      </li>
    </ul>
  </div>
</div>

<div>
  <p class = "persona">
  Costumes for Everyone
  </p>
  <div class= "usertypecards d-flex">
    <%= link_to costumes_path(category: "kids"), class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/7139728/pexels-photo-7139728.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260)" do %>
      Children
    <% end %>

    <%= link_to costumes_path(category: "women"), class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1623967199-cupcake-costume-food-halloween-costume-1623967146.jpg)" do %>
      Women
    <% end %>

    <%= link_to costumes_path(category: "men"), class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://spy.com/wp-content/uploads/2021/07/sfv-1.jpg)" do %>
      Men
    <% end %>

    <%= link_to costumes_path(category: "pets"), class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.money.com/2017/10/171018-dog-halloween-costumes.jpg)" do %>
      Pets
    <% end %>
  </div>
</div>
